@font-face {
  src: url('../../public/fonts/MSfont.ttf');
  font-family: "MSfont";
}

* {
  font-family: "MSfont";
}

html, body {
  margin: 0px;
  padding: 0px;
  background-color: rgb(250, 250, 250);
}